.container{
    font-family: Arial,sans-serif;

} 
.jumboTron{
   height: 600px;
    width: 100vw;
   background-image:  url(https://content.halocdn.com/media/Default/community/page/API/api-hero_1920x675-e266d26f590d460c9d55aa7650ea2c2f.jpg);
    background-size: cover;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column-reverse;
}   
.row{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around ;
    text-align: center;
  
}
.col{
    border-image: 50px;
    color:  #155E93;
}
#midIMG{
    justify-content: flex;
    align-items: center;
    text-align: inherit;
}

.games{
    align-items: baseline;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color:yellow ;
    color: black;
  }
