body{
    background-image: url('https://i.pinimg.com/originals/8d/f8/41/8df841aabda4d5360fc0873f4e462df5.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100%;
    width: 100%;
}   

.card{
    height: 400px;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: larger;
    font-weight: bolder;
    color:  #181818;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background-color: #181818;
    border-radius: 25px;
}
.card img{
    height: 250px;
    width: 400px;
    padding: 2px;
}
.deleteButton{
    border-radius: 25px;

    
}